.menu-container{
    width: 40%;
    float: left;
}

.primary-menu{
    width: 60%;
    float: left;
    list-style-type: none;
    margin-left: 0px;
}

.primary-menu li{
    float: left;
    padding: 10px;
}